<div class="container" (mouseleave)="updateBaseColor()">
  <div
    *ngIf="position"
    class="color-indicator"
    [style.backgroundColor]="selectedColor"
    [style.color]="selectedColor"
    [cpPosition]="'bottom'"
    [cpPositionOffset]="'50%'"
    [cpPositionRelativeToArrow]="true"
    [(colorPicker)]="selectedColor"
  >
    left
  </div>
  <div class="color-options"></div>
  <div
    *ngIf="!position"
    class="color-indicator"
    [style.backgroundColor]="selectedColor"
    [style.color]="selectedColor"
    [cpPosition]="'bottom'"
    [cpPositionOffset]="'50%'"
    [cpPositionRelativeToArrow]="true"
    [(colorPicker)]="selectedColor"
  >
    right
  </div>
</div>
