<div class="page-container">
  <header>
    <h1>Analogous Color Palette Generator</h1>
  </header>
  <div class="colors-container">
    <app-color-box *ngFor="let color of colors" [color]="color"></app-color-box>
  </div>

  <div class="control-panel">
    <div class="color-info-container">
      <app-color-options
        [color]="colors[0]"
        [position]="position"
      ></app-color-options>
    </div>
    <div class="controller-area">
      <div class="controller">
        <div class="numerator-button left" (click)="changeNumOfColors(-1)">
          -
        </div>
        <div>{{ numOfColors }}</div>
        <div class="numerator-button right" (click)="changeNumOfColors(+1)">
          +
        </div>
      </div>

      <div>
        <div class="update-button" (click)="updatePalette()">
          <p>Update Palette</p>
        </div>
      </div>
    </div>
    <div class="color-info-container">
      <app-color-options
        [color]="colors[colors.length - 1]"
        [position]="!position"
      ></app-color-options>
    </div>
  </div>
</div>
