.page-container {
  display: flex;
  flex-direction: column;
  height: 96vh;
  flex: 1;
  background-color: beige;
  div {
    display: flex;
  }
}
header {
  display: flex;
  height: 5rem;
  justify-content: center;
  align-items: center;
}
app-color-box {
  display: flex;
  flex: 1;
}
.colors-container {
  background-color: antiquewhite;
  flex-direction: row;
  justify-content: space-between;
}
.control-panel {
  flex: 1;
  background-color: rgb(1, 199, 199);
  justify-content: space-between;
}
.controller-area {
  flex-direction: column;
  justify-content: space-between;
  background-color: antiquewhite;
  div {
  }
}
.controller {
  justify-content: space-between;
  background-color: rgb(197, 197, 197);
  width: 120px;
  height: 60px;
  align-items: center;
  div {
    flex: 1;
    justify-content: center;
    align-items: center;
  }
}
.button {
  height: 100%;
  background-color: rgb(221, 221, 221);
  transition: 0.1s ease-in-out;
}
.button:hover {
  background-color: rgb(197, 197, 197);
}
