.page-container {
  display: flex;
  flex-direction: column;
  height: 96vh;
  flex: 1;
  div {
    display: flex;
  }
}
header {
  display: flex;
  height: 5rem;
  justify-content: center;
  align-items: center;
}
app-color-box {
  display: flex;
  flex: 1;
}

.control-panel {
  flex: 1;
  justify-content: space-between;
}
.controller-area {
  flex-direction: column;
  justify-content: space-around;
}
.color-info-container {
  justify-content: space-between;
  // background-color: aqua;
  flex-basis: 40%;
}
.controller {
  justify-content: space-between;
  background-color: rgb(197, 197, 197);
  width: 120px;
  height: 60px;
  align-items: center;
  div {
    flex: 1;
    justify-content: center;
    align-items: center;
  }
}
.numerator-button {
  height: 100%;
  background-color: rgb(221, 221, 221);
  transition: 0.1s ease-in-out;
}
.numerator-button:hover {
  background-color: rgb(156, 176, 192);
}
.update-button {
  background-color: #c5c5c5;
  transition: 0.1s ease-in-out;
}

.update-button:hover {
  background-color: rgb(156, 176, 192);
  p {
    color: white;
  }
}

app-color-options {
  flex: 1;
}
