.color-wrapper {
  display: flex;
  width: 100%;
  height: 30rem;
  flex-direction: column;
  div {
    display: flex;
  }
}
.color-box {
  flex-basis: 80%;
  justify-content: center;
}
.color-info-box {
  flex-basis: 20%;
  justify-content: center;
  align-items: center;
}
